<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Manager Dashboard</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    ini Manager dashboard
    <a th:href="@{/profile}">My Profile</a>
    <a style="color: blue" th:href="@{/}">Home</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>
</div>
</body>
</html>