<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
<div layout:fragment="content">
    <a href="/admin/register" class="btn btn-primary">Register Employee</a>

    <table border="2">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Manager Id</th>
            <th>Username</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr th:each="emp: ${employees}">
                <td th:text="${emp.id}" />
                <td th:text="${emp.name}" />
                <td th:text="${emp.email}" />
                <td th:text="${emp.role.role}" />
                <td th:text="${emp.managerId}" />
                <td th:text="${emp.username}" />


                <!--<td><img th:src="@{/uploads/employee/{photo}(photo=${emp.getPhoto()})}" alt="picture relative path"/></td>-->
                <!--<td>ImageHandler: <img th:src="@{'/uploads/employee/' + ${emp.getPhoto()}}" /></td>-->
                <td>
                    <a class="btn btn-warning" th:href="@{/admin/employee/{id}(id=${emp.id})}"><i class='far fa-list-alt'></i> Details</a>
                    <button class="btn btn-danger employee-delete" th:attr="data-employee-id=${emp.id}"><i class='fas fa-trash-alt'></i> Delete</button>
                </td>
                <!--<td><img th:src="@{${emp.photo}}" /></td>-->
            </tr>
        </tbody>
    </table>

    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        $('.employee-delete').click(function(e) {
            e.preventDefault();

            var employeeId = $(this).attr('data-employee-id');
            console.log('category DELETE klik, id = ' + employeeId);

            bootbox.dialog({
                message: "Are you sure you want to Delete? ",
                title: "<i class='fas fa-trash-alt'></i> Delete",
                buttons: {
                    success: {
                        label: "Cancel",
                        className: "btn-secondary",
                        callback: function(){
                            $('.bootbox').modal('hide');
                        }
                    },
                    danger: {
                        label: "Delete",
                        className: "btn-danger",
                        callback: function () {
                            console.log("delete has been clicked" + employeeId);

                            $.ajax({
                                type: "DELETE",
                                url: "/admin/employee/" + employeeId + "/delete",
                                contentType: 'application/json; charset=utf-8',
                                success: function(data){
                                    // console.log(result);
                                    window.location.reload();
                                    if (data.status == "Deleted"){
                                        toastr.warning(data.data, data.status, {
                                            closeButton: true,
                                            progressBar: true
                                        });
                                    }
                                    else if (data.status == "Error"){
                                        toastr.error(data.data, data.status, {
                                            closeButton: true,
                                            progressBar: true
                                        });
                                    }

                                    // fetchCategory();
                                },
                                error: function(e){
                                    bootbox.alert('Error in Delete!');
                                    toastr.error(e, "Error", {
                                        closeButton: true,
                                        progressBar: true
                                    });
                                }
                            });

                        }
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>