<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <!--<link rel="stylesheet" href="/webjars/datatables/1.10.19/css/dataTables.bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
    <title>Category</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div>
            <!--<a href="javascript:void(0)"><span class="glyphicon glyphicon-plus-sign"></span>New Category</a>-->
            <!--https://getbootstrap.com/docs/4.0/components/modal/#varying-modal-content-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-category-add">
                <span class="glyphicon glyphicon-plus-sign"></span>New Category</button>

            <div class="modal fade" id="modal-category-add" role="dialog" aria-labelledby="modal-category-add" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="post" action="/clerk/category2/add" id="category-add-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="categoryTitle">Create New Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                    <div class="form-group">
                                        <label for="category-name" class="col-form-label">Category Name: </label>
                                        <input type="text" class="form-control" id="category-name" required="true"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="category-description" class="col-form-label">Category Description: </label>
                                        <textarea class="form-control" id="category-description"></textarea>
                                    </div>
                            </div>

                            <div class="modal-footer">
                                <button type="reset" class="btn btn-warning">Reset</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <br />
        <div class="category-table">
        </div>

        <!--<script type="text/javascript" src="/webjars/datatables/1.10.19/js/dataTables.dataTables.min.js"></script>-->
        <!--<script type="text/javascript" src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"></script>-->
        <!--<script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>-->

        <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/clerk-category.js}"></script>

    </div>
</body>
</html>