<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <title>Category 2</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="category-table">

        </div>

        <div class="category-rest">
            <div class="col-sm-7" style="margin:20px 0px 20px 0px">
                <button id="getAllCustomerId" type="button" class="btn btn-primary">Get All Customers</button>
                <div id="getResultDiv" style="padding:20px 10px 20px 50px">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
        </div>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script type="text/javascript" th:src="@{/js/clerk-category.js}"></script>

    </div>
</body>
</html>