<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Category</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h1>INI DIAKSES OLEH CLERK</h1>
        <!--alert message-->
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.successadd}">
            Success Add New Category!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-failed alert-dismissible fade show" role="alert" th:if="${param.failedadd}">
            Failed in Adding New Category!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-warning" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                <span aria-hidden="true">&times;</span>
            <!--</button>-->
        </div>

        <span th:text="${message}"></span> = ini message harusnya
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryAdd">
            Add Category
        </button>

        <!--Modal Add Category-->
        <div class="modal fade" id="categoryAdd" role="dialog" aria-labelledby="exampleCategoryAdd" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleCategoryAdd">Add Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/clerk/category}" th:object="${newCategory}" method="post">
                        <div class="modal-body">
                            <table>
                                <tr>
                                    <td> Category Name: <input type="text" id="name" th:field="*{name}"/> </td>
                                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                                </tr>
                                <tr>
                                    <td>Category Description: <textarea rows="5" cols="30" wrap="soft" th:field="*{description}"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="SaveCategory"></input>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!--Table list of category-->
        <div id="categoryList">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Category Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category: ${categoryList}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td th:text="${category.description}"></td>
                    <td><a th:href="@{/clerk/category/{id}/edit(id=${category.id})}">Edit</a>
                        <a th:href="@{/clerk/category/{id}/delete(id=${category.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>