<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="categoryList">
    <table class="table table-bordered table-hover" id="category-id">
        <thead class="thead-dark">
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category: ${categoryList}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td th:text="${category.description}"></td>
            <!--<td><span class="glyphicon glyphicon-lamp"></span><a th:href="@{/api/category/{id}(id=${category.id})}">Details</a> </td>-->
            <!--<td><span class="glyphicon glyphicon-lamp"></span><a href="javascript:void(0)" id="category-details" data-id="${category.id}" data-target="#modal-category-details">Details</a> </td>-->
            <td><button type="button" class="btn btn-primary category-details" th:attr="data-category-id=${category.id}"><span class="glyphicon glyphicon-th-list"> Details</span></button></td>
            <td><span class="glyphicon glyphicon-edit"></span><a th:href="@{/clerk/category/{id}/edit(id=${category.id})}">Edit</a></td>
            <td><span class="glyphicon glyphicon-trash"></span> <a th:href="@{/clerk/category/{id}/delete(id=${category.id})}">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>

<!--Modal Category Details-->
<div id="modal-category-details" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-category-details-title">Category</h4>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="category-details-name">Category Name: </label>
                    <input type="text" class="form-control" id="category-details-name" />
                </div>
                <div class="form-group">
                    <label for="category-details-description">Category Description: </label>
                    <textarea class="form-control" id="category-details-description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#category-id').DataTable();
    });

    $('.category-details').click(function(){
        // alert('Details ke klik');

        $('#modal-category-details').modal('show');
        var categoryId = $(this).attr('data-category-id');
        // alert('Details ke klik' + categoryId);
        console.log('category details ke klik, id = ' + categoryId);
        $.ajax({
            type: "GET",
            url: "/api/category/" + categoryId + "/edit",
            success: function(result){
                console.log(result);
                $('#modal-category-details-title').text("Category " + categoryId);
                $('#category-details-name').val(result.data.name);
                $('#category-details-description').val(result.data.description);
            },
            error : function(e){
                $('#modal-category-details modal-header').append("<strong>Data Error</strong>");
            }
        });

    });
</script>
</html>