<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Item Add</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3>Create Item</h3>
    <h4>Ajax Post Result</h4><span id="itemResult" style="color: springgreen"></span>

    <form method="POST" th:action="@{/clerk/item/add}" id="item-add-form" enctype="multipart/form-data">
        Identification Number (UPC): <input type="number" name="id"><br />
        Name: <input type="text" name="name"><br />
        Image: <input type="file" name="image"/><br />
        <!--Description: <br />-->
        Category:
        <select name="category.id">
            <option th:each="category: ${categoryList}" th:value="${category.id}" th:text="${category.name}" />
        </select>

        Quantity: <input type="number" name="quantity"> <br />
        Price: <input type="number" name="price" step="0.01"> <br />

        Weight: <input type="number" name="weight" step="0.01"> <br />
        Height: <input type="number" name="height" step="0.01"> <br />
        Width: <input type="number" name="width" step="0.01"> <br />
        Depth: <input type="number" name="depth" step="0.01"> <br />

        <button type="submit" class="btn btn-primary" id="itemSubmit">Create Item</button>
        <a class="btn btn-danger" id="btn-coba">Coba coba</a>
        <a class="btn btn-secondary" href="/clerk/item">Cancel</a>
    </form>

    <!--<script type="text/javascript" th:src="@{/js/clerk-item.js}"></script>-->
    <script type="text/javascript">

        // https://stackoverflow.com/questions/30162655/spring-mvc-ajax-file-upload-leading-to-415-unsupported-media-type
        $('#item-add-form').submit(function(e){
            e.preventDefault();
            var $form = $('#item-add-form');
            var fd = new FormData($(this)[0]);
            console.info(fd);


            $.ajax({
                type: "POST",
                enctype: "multipart/form-data",
                url: "/clerk/item/add",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                success: function(response){
                    console.info(response);
                    $('#itemResult').text("Success in Adding Item");
                    $('#item-add-form').each(function () {
                        // https://stackoverflow.com/questions/8701812/clear-form-after-submission-with-jquery
                        this.reset();
                    });

                },
                error: function(e){
                    $('#itemResult').text("Failed");
                }
            });


        });
    </script>
</div>
</body>
</html>