<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Add Item</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <a href="/clerk/item" class="btn btn-primary">Back to Item List</a><br />
    <h3>Create Item</h3>
    <div id="itemResult"></div>

    <form method="POST" th:action="@{/clerk/item/add}" id="item-add-form" enctype="multipart/form-data">
        Identification Number (UPC): <input type="number" name="id"><br />
        Name: <input type="text" name="name"><br />
        Image: <input type="file" name="image"/><br />
        <!--Description: <br />-->
        Category:
        <select name="category.id">
            <option th:each="category: ${categoryList}" th:value="${category.id}" th:text="${category.name}" />
        </select>

        Quantity: <input type="number" name="quantity"> <br />
        Price: <input type="number" name="price" step="0.01"> <br />

        Weight: <input type="number" name="weight" step="0.01"> <br />
        Height: <input type="number" name="height" step="0.01"> <br />
        Width: <input type="number" name="width" step="0.01"> <br />
        Depth: <input type="number" name="depth" step="0.01"> <br />

        <button type="submit" class="btn btn-success" id="itemSubmit">Create Item</button>
    </form>

    <script type="text/javascript" th:src="@{/js/clerk-item.js}"></script>
</div>
</body>
</html>