<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Item Add</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <style type="text/css">
        .serial-assign-div, .serial-add-div {
            display: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <a href="/clerk/item" class="btn btn-primary">Back to Item List</a>
    <br /><br />
    <h3>Item Id <span th:text="${itemId}" style="color: darkblue" id="serial-itemId" th:attr="item-id=${itemId}"></span> Serial Number</h3>

    <!--<div class="serialResult"></div>-->

    <div class="row">

        <div class="col-lg-6">
            <div id="item-serial-list">
                <h6>List of Item Serial Number: </h6>
                <table id="item-serial-table">
                    <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Employee</th>
                        <th>Clerk Id</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <button class="btn btn-info" id="serial-add-button"><span class="glyphicon glyphicon-plus"></span> Add Serial Number</button>
            <br/>
            <br/>
            <div class="serial-add-div">
                <button class="btn btn-dark" id="serial-input-add"><span class="glyphicon glyphicon-plus-sign"></span> Add Field</button>

                <form method="post" id="serial-add-form">
                    <div class="serial-add">
                        <!--<div><input type="text" name="assets[]"/></div>-->
                        <div><input type="number" name="serials[]"/></div>
                    </div>
                    <input type="submit" class="btn btn-success"/>
                </form>
            </div>
            <hr />

            <button class="btn btn-info" id="serial-assign-button"><span class="glyphicon glyphicon-user"></span> Assign to Employee</button>
            <div class="serial-assign-result"></div>
            <div class="serial-assign-div">
                <form id="serial-assign-form">
                    <div class="form-group">
                        <label>Employee List</label>
                        <select multiple class="form-control" id="serial-assign" name="serial_employee[]">
                        </select>
                    </div>
                    <br />
                    <input type="submit" class="btn btn-success" />
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" th:src="@{/js/clerk-item-serial.js}"></script>
</div>
</body>
</html>