<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Item Requested</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3>Clerk Approve Item Request by Employee</h3>
    <table id="item-request-table" class="table table-hover">
        <thead>
            <th>Action Id</th>
            <th>Request Time</th>
            <th>Requester</th>
            <th>Item</th>
            <th>Actions</th>
        </thead>
    </table>

    <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" th:src="@{/plugin/MomentJs/moment.min.js}"></script>
    <script type="text/javascript">
        var receiveTable;
        $(document).ready(function(){
           receiveTable = $('#item-request-table').DataTable({
             ajax: "/clerk/item/receive",
               columns: [
                   {"data": "actionTransaction.actionId"},
                   {
                       "data": "actionTransaction.requestTime",
                       render: function (data, type, row) {
                           if (type === "sort" || type === "type") return data;
                           return moment(data).format("DD-MM-YYYY HH:mm");
                       }
                   },
                   {"data" : "actionTransaction.requestedBy.id"},
                   {"data": "item.id"},
                   {"data": null, "orderable": false}
               ],
               columnDefs: [
                   {
                       targets: -1,
                       data: null,
                       defaultContent:
                           "<button class='btn btn-outline-primary item-request-employee'><i class='fas fa-user'></i> View Employee</button>" +
                               " <button class='btn btn-outline-warning item-request-item-details'><i class='fas fa-boxes'></i> View Item</button>" +
                               " <button class='btn btn-outline-success item-request-accept'><i class='fas fa-check-circle'></i> Accept</button>" +
                               " <button class='btn btn-outline-danger item-request-reject'><i class='fas fa-times-circle'></i> Reject</button>"
                   }
               ]
           });

           buttonReceive();
        });

        function buttonReceive(){
            $('#item-request-table tbody').on('click', '.item-request-employee', function (e) {
                receiveRow = receiveTable.row($(this).parents('tr')).data();
                employee = receiveRow.actionTransaction.requestedBy;

                var employeeMessage = "<form>";
                employeeMessage += "<div class ='form-group row'><label class='col-sm-4 col-form-label'>Id</label>";
                employeeMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ employee.id +"'> </div></div>";
                employeeMessage += "<div class='form-group row'><label class='col-sm-4 col-form-label'>Name</label>";
                employeeMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ employee.name +"'> </div></div>";
                employeeMessage += "<div class='form-group row'><label class='col-sm-4 col-form-label'>Email</label>";
                employeeMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ employee.email +"'> </div></div>";
                employeeMessage += "</form>";


                bootbox.dialog({
                    title: "<i class='fas fa-user'></i> Employee Details",
                    message: employeeMessage,
                    buttons: {
                        ok: {
                            label: "Close",
                            className: "btn-secondary",
                        }
                    }
                });
            });

            $('#item-request-table tbody').on('click', '.item-request-item-details', function (e) {
                receiveRow = receiveTable.row($(this).parents('tr')).data();
                console.log(receiveRow.item);
                item = receiveRow.item;

                var itemMessage = "<form>";
                itemMessage += "<div class ='form-group row'><label class='col-sm-4 col-form-label'>Id</label>";
                itemMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ item.id +"'> </div></div>";
                itemMessage += "<div class='form-group row'><label class='col-sm-4 col-form-label'>Name</label>";
                itemMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ item.name +"'> </div></div>";
                itemMessage += "<div class='form-group row'><label class='col-sm-4 col-form-label'>Type</label>";
                itemMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ item.itemType +"'> </div></div>";
                itemMessage += "<div class='form-group row'><label class='col-sm-4 col-form-label'>Quantity</label>";
                itemMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ item.quantity +"'> </div></div>";
                itemMessage += "<div class='form-group row'><label class='col-sm-4 col-form-label'>Category</label>";
                itemMessage += "<div class='col-sm-8'><input type='text' readonly class='form-control' placeholder='"+ item.category.name +"'> </div></div>";
                itemMessage += "</form>";

                bootbox.dialog({
                    title: "<i class='fas fa-boxes'></i> Item Details",
                    message: itemMessage,
                    buttons: {
                        ok: {
                            label: "Close",
                            className: "btn-secondary",
                        }
                    }
                });
            });

            $('#item-request-table tbody').on('click', '.item-request-accept', function (e) {
                receiveRow = receiveTable.row($(this).parents('tr')).data();
                employee = receiveRow.actionTransaction.requestedBy;
                requestData = {'serial_employee[]': [employee.id]};
                statusData = {'actionTransId': receiveRow.actionTransaction.actionId,
                            'itemId': receiveRow.item.id};
                console.log(receiveRow);


                $.ajax({
                    type: "POST",
                    url: "/clerk/item/" + receiveRow.item.id + "/assign",
                    data: requestData,
                    success: function(data) {
                        console.log(data.data);
                        if (data.status == "Failed"){
                            toastr.error(data.data, data.status, {
                                closeButton: true,
                                progressBar: true
                            });
                        }
                        else if (data.status == "Success") {
                            console.log(data.data[0]);
                            statusData.itemSerial = data.data[0];
                            $.ajax({
                                type: "POST",
                                url: "/clerk/item/approve",
                                data: statusData,
                                success: function (data) {
                                    console.log(data.data);
                                    $('#item-request-table').DataTable().ajax.reload();
                                    // $('#approval-result').append("<p class='text-success'>" + data.data + "</p>");
                                    if (data.status == "Approved"){
                                        toastr.success(data.data, data.status, {
                                            closeButton: true,
                                            progressBar: true
                                        });
                                    }
                                    else if (data.status == "Rejected"){
                                        toastr.warning(data.data, data.status, {
                                            closeButton: true,
                                            progressBar: true
                                        });
                                    }
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    errorJSON = jQuery.parseJSON(jqXHR.responseText);
                                    toastr.error(errorJSON.message, "Error", {
                                        closeButton: true,
                                        progressBar: true
                                    });
                                }
                            });
                        }
                    },
                    error: function(e){
                        toastr.error(e, "Error", {
                            closeButton: true,
                            progressBar: true
                        });
                    }
                });

            });


            $('#item-request-table tbody').on('click', '.item-request-reject', function (e) {
                receiveRow = receiveTable.row($(this).parents('tr')).data();
                employee = receiveRow.actionTransaction.requestedBy;
                requestData = {'serial_employee[]': [employee.id]};
                statusData = {'actionTransId': receiveRow.actionTransaction.actionId,
                    'itemId': receiveRow.item.id, 'itemSerial': null};
                $.ajax({
                    type: "POST",
                    url: "/clerk/item/reject",
                    data: statusData,
                    success: function(data){
                        console.log(data.data);
                        $('#item-request-table').DataTable().ajax.reload();
                        toastr.warning(data.data, data.status, {
                            closeButton: true,
                            progressBar: true
                        });
                        // $('#approval-result').append("<p class='text-danger'>" + data.data + "</p>");


                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        errorJSON = jQuery.parseJSON(jqXHR.responseText);
                        toastr.error(errorJSON.message, "Error", {
                            closeButton: true,
                            progressBar: true
                        });
                    }
                })
            });
        }

    </script>
</div>
</body>
</html>