<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Print</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
</head>
<body>

    <h4>Item Detail <span id="item-id" th:attr="data-item-id=${item.id}" th:text="${item.name}"></span></h4>
    Id: <span th:text="${item.id}"></span> <br />
    Name: <span th:text="${item.name}"></span> <br />
    Image: <img th:if="${item.imagePath != null}" th:attr="src=@{|/uploads/item/${item.imagePath}|}, title=${item.imagePath}, alt=${item.imagePath}" th:width="400" th:height="400" /><br />
    Type: <span th:text="${item.itemType}"></span><br />
    Category: <span th:text="${item.category.name}"></span> <br />
    Quantity: <span th:text="${item.quantity}"></span> <br />
    Price: <span th:text="${item.price}"></span> <br />
    Weight: <span th:text="${item.weight}"></span> <br />
    Height: <span th:text="${item.height}"></span> <br />
    Width: <span th:text="${item.width}"></span> <br />
    Depth: <span th:text="${item.depth}"></span> <br />

    <hr />
    <h4>Item Serial Number</h4>
    <table id="item-serial-table"></table>

    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            getItemSerial();
            // $.when(getItemSerial()).done(function(){
            //     // window.print();
            //     // window.close();
            // });

            // $.when($.ajax(getItemSerial())).then(function(){
            //     // printPage();
            //     alert("FINISHED");
            // });


        });

        function getItemSerial(){
            var serialId = $('#item-id').attr('data-item-id');

            $('#item-serial-table').DataTable({
                ajax: "/clerk/item/" + serialId + "/serialJSON",
                // dataSrc: "data",
                columns: [
                    {title: "Serial Number","data": "serialId"},
                    {title: "In Posession", "data" : "myUser.name"},
                    // {"data": "clerkId"},
                    // {"data": null}
                ],
                paging: false,
                searching: false,
                info: false,
                "initComplete": function(settings, json){
                    // alert("dataTables finished");
                    printPage();
                }
                // columnDefs: [
                //     {
                //         targets: -1,
                //         data: null,
                //         defaultContent: "<button class='btn btn-danger serial-delete-button'>Delete</button>"
                //     }
                // ]
            });
        }

        function printPage(){
            window.print();
            window.close();
        }
    </script>
</body>
</html>