<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Print</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
</head>
<body>

    <h4>Item Detail <span id="item-id" th:attr="data-item-id=${item.id}" th:text="${item.name}"></span></h4>
    Id: <span th:text="${item.id}"></span> <br />
    Name: <span th:text="${item.name}"></span> <br />
    Image: <img th:if="${item.imagePath != null}" th:attr="src=@{|/uploads/item/${item.imagePath}|}, title=${item.imagePath}, alt=${item.imagePath}" th:width="400" th:height="400" /><br />
    Type: <span th:text="${item.itemType}"></span><br />
    Category: <span th:text="${item.category.name}"></span> <br />
    Quantity: <span th:text="${item.quantity}"></span> <br />
    Price: <span th:text="${item.price}"></span> <br />
    Weight: <span th:text="${item.weight}"></span> <br />
    Height: <span th:text="${item.height}"></span> <br />
    Width: <span th:text="${item.width}"></span> <br />
    Depth: <span th:text="${item.depth}"></span> <br />

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Identification Number (UPC): </label>
                <div class="col-sm-8"><input type="number" readonly class="form-control-plaintext" name="id" th:placeholder="${item.id}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name: </label>
                <div class="col-sm-8"><input type="text" readonly class="form-control-plaintext" name="name" th:placeholder="${item.name}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Type:</label>
                <div class="col-sm-8"><input type="text" readonly class="form-control-plaintext" name="category" th:placeholder="${item.itemType}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category:</label>
                <div class="col-sm-8"><input type="text" readonly class="form-control-plaintext" name="category" th:placeholder="${item.category.name}"></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quantity: </label>
                <div class="col-sm-3"><input type="number" readonly class="form-control-plaintext" name="quantity" th:placeholder="${item.quantity}"></div>

                <label class="col-sm-1 col-form-label">Price: </label>
                <div class="col-sm-3"><input type="number" readonly class="form-control-plaintext" name="price" step="0.01" th:placeholder="${item.price}"></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Weight: </label>
                <div class="col-sm-3"><input type="number" readonly class="form-control-plaintext" name="weight" step="0.01" th:placeholder="${item.weight}"></div>
                <label class="col-sm-1 col-form-label">Height: </label>
                <div class="col-sm-3"><input type="number" readonly class="form-control-plaintext" name="height" step="0.01" th:placeholder="${item.height}"> </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Width: </label>
                <div class="col-sm-3"><input type="number" readonly class="form-control-plaintext" name="width" step="0.01" th:placeholder="${item.width}"></div>
                <label class="col-sm-1 col-form-label">Depth: </label>
                <div class="col-sm-3"><input type="number" readonly class="form-control-plaintext" name="depth" step="0.01" th:placeholder="${item.depth}"> </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img th:if="${item.imagePath != null}" th:attr="src=@{|/uploads/item/${item.imagePath}|}, title=${item.imagePath}, alt=${item.imagePath}"  class="img-thumbnail img-responsive"/>
            <small th:if="${item.imagePath == null}">Image Not Available</small>
            <!--th:width="350" th:height="350"-->
        </div>
    </div>

    <hr />
    <h4>Item Serial Number</h4>
    <table id="item-serial-table" class="table table-bordered table-sm"></table>

    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            getItemSerial();
            // $.when(getItemSerial()).done(function(){
            //     // window.print();
            //     // window.close();
            // });

            // $.when($.ajax(getItemSerial())).then(function(){
            //     // printPage();
            //     alert("FINISHED");
            // });


        });

        function getItemSerial(){
            var serialId = $('#item-id').attr('data-item-id');

            $('#item-serial-table').DataTable({
                ajax: "/clerk/item/" + serialId + "/serialJSON",
                // dataSrc: "data",
                columns: [
                    {title: "Serial Number","data": "serialId"},
                    {title: "In Posession", "data" : "myUserName"},
                    {title: "Clerk ID", "data": "clerkId"}
                    // {"data": null}
                ],
                paging: false,
                searching: false,
                info: false,
                "initComplete": function(settings, json){
                    // alert("dataTables finished");
                    printPage();
                }
                // columnDefs: [
                //     {
                //         targets: -1,
                //         data: null,
                //         defaultContent: "<button class='btn btn-danger serial-delete-button'>Delete</button>"
                //     }
                // ]
            });
        }

        function printPage(){
            window.print();
            window.close();
        }
    </script>
</body>
</html>