<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Item List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="item-result"></div>

    <a class="btn btn-primary item-add-button" href="/clerk/item/add" role="button"><i class="fas fa-plus-circle"></i> Add Item</a>
    <div id="item-show">
        <table id="item-table" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Actions</th>
                <!--<th>Assets</th>-->
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div id="item-details">

    </div>

    <!--<button class="btn btn-primary item-primary">Coba Class</button>-->
    <!--<button class="btn btn-warning item-primary">Coba Class2</button>-->


    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/clerk-item.js}"></script>
</div>
</body>
</html>