<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <title>Item Assign</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <input type="text" id="emp_name" placeholder="Employee Name" />
        <input type="number" id="emp_id" placeholder="Employee ID" />

        <script type="text/javascript" th:src="@{/plugin/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js}"></script>

        <script type="text/javascript">
            var managerAndEmployee = {};

            $(document).ready(function () {
                getManagerAndEmployee();
                options = {
                    data: managerAndEmployee,
                    getValue: "name",
                    list: {
                        match: {
                            enabled: true
                        },

                        onSelectItemEvent: function(){
                            var value = $('#emp_name').getSelectedItemData().id;
                            $('#emp_id').val(value).trigger("change");
                        }
                    }
                }
            });

            function getManagerAndEmployee(){
                $.getJSON("/clerk/employeelist", function(data){
                    console.log(data.data);
                    $.each(data.data, function (key, val){
                        var empObj = {};
                        console.log("Key: " + key + "Val: " + val.name);
                        empObj["name"] = val.name;
                        empObj["id"] = val.id;
                        managerAndEmployee.push(empObj);
                    });

                    console.log("Employee List: ");
                    console.log(managerAndEmployee);
                });
            }
        </script>
    </div>

</body>
</html>