<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Register Employee</title>

</head>
<body>
    <div layout:fragment="content">
        <!--https://memorynotfound.com/spring-security-user-registration-example-thymeleaf/-->
        <!--https://spring.io/guides/gs/handling-form-submission/-->
        <div th:if="${param.success}">
            You;ve successfully registered to our awesome app!
        </div>
        <div th:if="${param.failure}">
            <h1>Cannot save User</h1>
        </div>

        <h1>Registration Employee</h1>
        <form th:action="@{/admin/register}" th:object="${newUser}" method="post" enctype="multipart/form-data" id="registerEmployeeForm">
            ID: <input type="text" th:field="*{id}" /> <br />
            Name: <input type="text" th:field="*{name}" /> <br />
            Email: <input type="text" th:field="*{email}" /> <br />
            Phone: <input type="text" th:field="*{phone}" /> <br />
            Birthday: <input type="date" th:field="*{birthday}" /><br />
            Username: <input type="text" th:field="*{username}" /> <br />
            Password: <input type="password" th:field="*{password}" /> <br />
            <!--Role:-->
            <!--<input type="radio" th:field="*{roleId}" value="0" />Admin<br />-->
            <!--<input type="radio" th:field="*{roleId}" value="1" checked />Admin<br />-->
            <!--<input type="radio" th:field="*{roleId}" value="2" />Admin<br />-->

            <!--https://o7planning.org/en/11659/thymeleaf-form-select-option-example-->
            <select th:field="*{role.roleId}">
                <option th:each="role: ${roles}" th:value="${role.roleId}" th:text="${role.role}" />

            </select>

            <!--http://zetcode.com/springboot/uploadfile/-->
            <input type="file" name="file" />

            <input type="submit" value="Register" id="registerSubmit"/>
        </form>

        <div>
            <h1>Ajax Post Result</h1>
            <span id="result"></span>
        </div>
    </div>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <!--BELUM JALAN JQUERY BUAT AJAX FILE IMAGE NYA-->
    <!--<script type="text/javascript" src="js/register-main.js"></script>-->

</body>
</html>