<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8" />
    <title>My Item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h3>My Item</h3>
        <table id="my-item-table" class="table table-striped">
            <thead class="thead-light">
                <th>Item Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Action</th>
            </thead>
        </table>
        <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
        <script type="text/javascript">
            var myItemTable;
            $(document).ready(function () {
                myItemTable = $('#my-item-table').DataTable({
                   ajax: '/user/myitem/count',
                    processing: true,
                    serverSide: true,
                   columns: [
                       {"data": "itemId"},
                       {"data": "itemName"},
                       {"data": "categoryName"},
                       {"data": "countSerial"},
                       {
                           "class": "details-control",
                           "orderable": false,
                           "data": null,
                           "defaultContent": "<button class='btn btn-info myitem-serial-button'>Serials</button>"
                       }
                   ],
                    // columnDefs: [
                    //     {
                    //         targets: -1,
                    //         data: null,
                    //         defaultContent: "<button class='btn btn-primary myitem-serial-button'>Serials</button>"
                    //     }
                    // ],
                });

                // buttonMyItemSerial();
                serialRowDetails();
            });

            function buttonMyItemSerial(){
                $('#my-item-table tbody').on('click', '.myitem-serial-button', function (e) {
                    itemRow = myItemTable.row($(this).parents('tr')).data();
                    // console.log(itemRow);

                    var serialMessage = "<ul>";
                    $.ajax({
                        type: "GET",
                        url: "/user/myitem/" + itemRow.itemId + "/serial",
                        success: function(data){
                            // console.log(data.data);
                            $.each(data.data, function(key,value){
                                serialMessage += "<li>" + value.serialId + "</li>";
                            });
                            serialMessage += "</ul>";

                            bootbox.dialog({
                                title: "<span class='glyphicon glyphicon-th-list'></span> My Item Serial Number",
                                message: serialMessage,
                                buttons: {
                                    ok: {
                                        label: "Close",
                                        className: "btn-secondary",
                                        callback: function () {

                                        }
                                    }
                                }
                            });
                        },
                        error: function(e){
                            throw e;
                        }
                    });
                    /*
                    itemList = approvalRow.actionItemList;
                    var itemMessage = "<ol>";
                    // for (var i = 0; i < itemList.length; i++){
                    //     console.log(itemList[i].name);
                    // }
                    for (var i in approvalRow.actionItemList){
                        console.log(approvalRow.actionItemList[i].item.name);
                        // itemMessage += "<input type='text' class='form-control' readonly placeholder='" + approvalRow.actionItemList[i].item.name +
                        //         "' /><br />";
                        itemMessage += "<li>" + approvalRow.actionItemList[i].item.name + "</li><br />";
                    }
                    itemMessage += "</ol>";


                    */
                });
            }

            // https://datatables.net/examples/server_side/row_details.html
            function serialRowDetails(){
                var detailRows = [];
                $('#my-item-table tbody').on('click', 'tr td.details-control', function (e) {
                    var tr = $(this).closest('tr');
                    var row = myItemTable.row(tr);
                    console.log(row.data());
                    var idx = $.inArray(tr.attr('id'), detailRows);

                    if (row.child.isShown()){
                        tr.removeClass('details');
                        row.child.hide();

                        // Remove open array
                        detailRows.splice(idx, 1);
                    }
                    else {
                        tr.addClass('details');
                        // row.child(format(row.data())).show();
                        var serialResult = "";

                        $.ajax({
                            type: "GET",
                            url: "/user/myitem/" + row.data().itemId + "/serial",
                            success: function(data){
                                // console.log(data.data);
                                $.each(data.data, function(key,value){
                                    // serialMessage += "<li>" + value.serialId + "</li>";
                                    serialResult += "Serial: " + value.serialId.toString() + "<br />";
                                });
                                // serialMessage += "</ul>";
                                console.log(serialResult);
                                row.child(serialResult).show();
                            },
                            error: function(e){
                                row.child('error').show();
                            }
                        });


                        // add to open array
                        if (idx === -1){
                            detailRows.push(tr.attr('id'));
                        }
                    }
                });

                myItemTable.on('draw', function(){
                    $.each(detailRows, function(i,id){
                       $('#'+id+' td.details-control').trigger('click');
                    });
                });
            }

            function format(d){
                // console.log(d.itemId);
                var serialMessage = "<ul>";
                var serialResult;
                $.ajax({
                    type: "GET",
                    url: "/user/myitem/" + d.itemId + "/serial",
                    success: function(data){
                        // console.log(data.data);
                        $.each(data.data, function(key,value){
                            serialMessage += "<li>" + value.serialId + "</li>";
                            serialResult += value.serialId.toString();
                        });
                        serialMessage += "</ul>";
                        console.log(serialResult);
                        return serialResult;
                    },
                    error: function(e){
                        return "Error in get Serial Number";
                    }
                });
                // console.log(serialMessage);
                // return 'Item Id: ' + d.itemId;

            }
        </script>
    </div>

</body>
</html>