<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8" />
    <title>Request Items</title>
    <link rel="stylesheet" th:href="@{/plugin/Dual-List-Box-Plugin-listSwap/listswap.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h3>Request Items</h3>
        <!--<div id="request-result"></div>-->
        <!--<form>-->
            <!--<div class="custom-checkbox custom-control" th:each="item: ${itemAssets}">-->
                <!--<input class="custom-control-input" type="checkbox" th:attr="data-item-request-id= ${item.id}">-->
                <!--<img th:if="${item.imagePath != null}" th:attr="src=@{|/uploads/item/${item.imagePath}|}, title=${item.imagePath}, alt=${item.imagePath}" th:width="40" th:height="40" />-->
                <!--<p th:if="${item.imagePath == null}" th:text="Image not available"></p>-->
                <!--<label class="custom-control-label" th:text="${item.name}"></label>-->
            <!--</div>-->
            <!--<table>-->
                <!--<tr th:each="item: ${itemAssets}">-->
                    <!--<td><input type="checkbox" class="custom-checkbox"></td>-->
                    <!--<td th:text="${item}"></td>-->
                <!--</tr>-->
            <!--</table>-->

            <!--<input type="submit" class="btn btn-success"/>-->
        <!--</form>-->

        <!--https://www.jqueryscript.net/form/Lightweight-jQuery-Dual-List-Box-Plugin-listSwap.html-->
            <select id="source" data-text="Item Available" data-search="Search for options">
                <option th:each="item: ${itemAssets}" th:value="${item.id}" th:text="${item.name}"></option>
            </select>
            <form id="item-request-form" method="post">
                <select multiple name="itemrequests[]" id="destination" data-text="Requested Items" data-search="Search for options">
                </select>
                <div class="form-group">
                    <label>Additional Comment</label>
                    <textarea class="form-control" id="requestcomment"></textarea>
                </div>

                <button type="submit" class="btn btn-primary" onclick="selectAllDestination()">Request</button>
            </form>
        <script type="text/javascript" th:src="@{/plugin/Dual-List-Box-Plugin-listSwap/jquery.listswap.js}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
               $('#source, #destination').listswap({
                   truncate: true,
                   height: null,
                   is_scroll: true,
                   label_add: 'Add',
                   labeel_remove: 'Remove',
                   add_class: null,
                   rtl: false
               });
            });

            // selectAllDestination();

            $('#item-request-form').submit(function(e){
                e.preventDefault();
                // var values = $('#destination select').serialize();
                var values = $('#destination').val();
                var comment = $('#requestcomment').val();
                console.log(values);

                $.ajax({
                    method: 'POST',
                    url: '/user/item/request',
                    data: {
                        'itemrequests': values,
                        'requestcomment': comment
                    },
                    success: function(data){
                        console.log("Success send ajax");
                        window.location.reload();
                        toastr.success(data.data, data.status, {
                            closeButton: true,
                            progressBar: true
                        })
                        // $('#request-result').append("<p class='text-success'>" + data.data + "</p>");
                    },
                    error: function(data){
                        console.log("error send ajax");
                        toastr.error("Error in request item", "Error", {
                            closeButton: true,
                            progressBar: true
                        })
                        // $('#request-result').append("<p class='text-danger'>Error in Request Item</p>");
                    }
                });

            });

            function selectAllDestination(){
                $('#destination option').prop('selected', true);
            }
        </script>
    </div>
</body>
</html>