<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8" />
    <title>Return Items</title>
    <link rel="stylesheet" th:href="@{/plugin/Dual-List-Box-Plugin-listSwap/listswap.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h3>Return Items</h3>
        <select id="source" data-text="My Item / Serial" data-search="Search for options">
            <option th:each="serial: ${myItemSerial}" th:value="${serial.serialId}" th:text="|${serial.item.name} / ${serial.serialId}|"></option>
            <!--tidak perlu itemId & itemSerial karena itemSerial primary key (unique)-->
        </select>
        <form id="item-return-form" method="post">
            <select multiple name="itemreturn[]" id="destination" data-text="Returned Items" data-search="Search for options">
            </select>
            <div class="form-group">
                <label>Additional Comment</label>
                <textarea class="form-control" id="returncomment"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" onclick="selectAllDestination()">Return</button>
        </form>

        <script type="text/javascript" th:src="@{/plugin/Dual-List-Box-Plugin-listSwap/jquery.listswap.js}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#source, #destination').listswap({
                    truncate: true,
                    height: null,
                    is_scroll: true,
                    label_add: 'Add',
                    label_remove: 'Remove',
                    add_class: null,
                    rtl: false
                });
            });

            function selectAllDestination(){
                $('#destination option').prop('selected', true);
            }

            $('#item-return-form').submit(function(e){
                e.preventDefault();
                var values = $('#destination').val();
                var comment = $('#returncomment').val();
                console.log(values);

                $.ajax({
                    method: 'POST',
                    url: '/user/item/return',
                    data: {
                        'itemreturns': values,
                        'returncomment': comment
                    },
                    success: function(data){
                        console.log("Success send ajax");
                        window.location.reload();
                        toastr.success(data.data, data.status, {
                            closeButton: true,
                            progressBar: true
                        });
                    },
                    error: function(data){
                        console.log("error send ajax");
                        toastr.error("Error in request item", "Error", {
                            closeButton: true,
                            progressBar: true
                        });
                    }
                });
            });

        </script>
    </div>
</body>
</html>