<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8" />
    <title>My Item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h3>My Item</h3>
        <table id="my-item-table">
            <thead>
                <th>Item Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Action</th>
            </thead>
        </table>
        <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
        <script type="text/javascript">
            var myItemTable;
            $(document).ready(function () {
                myItemTable = $('#my-item-table').DataTable({
                   ajax: '/user/myitem/count',
                   columns: [
                       {"data": "itemId"},
                       {"data": "itemName"},
                       {"data": "categoryName"},
                       {"data": "countSerial"},
                       {"data": null}
                   ],
                    columnDefs: [
                        {
                            targets: -1,
                            data: null,
                            defaultContent: "<button class='btn btn-primary myitem-serial-button'>Serials</button>"
                        }
                    ]
                });

                buttonMyItemSerial();
            });

            function buttonMyItemSerial(){
                $('#my-item-table tbody').on('click', '.myitem-serial-button', function (e) {
                    itemRow = myItemTable.row($(this).parents('tr')).data();
                    // console.log(itemRow);

                    var serialMessage = "<ul>";
                    $.ajax({
                        type: "GET",
                        url: "/user/myitem/" + itemRow.itemId + "/serial",
                        success: function(data){
                            // console.log(data.data);
                            $.each(data.data, function(key,value){
                                serialMessage += "<li>" + value.serialId + "</li>";
                            });
                            serialMessage += "</ul>";

                            bootbox.dialog({
                                title: "<span class='glyphicon glyphicon-th-list'></span> My Item Serial Number",
                                message: serialMessage,
                                buttons: {
                                    ok: {
                                        label: "Close",
                                        className: "btn-secondary",
                                        callback: function () {

                                        }
                                    }
                                }
                            });
                        },
                        error: function(e){
                            throw e;
                        }
                    });
                    /*
                    itemList = approvalRow.actionItemList;
                    var itemMessage = "<ol>";
                    // for (var i = 0; i < itemList.length; i++){
                    //     console.log(itemList[i].name);
                    // }
                    for (var i in approvalRow.actionItemList){
                        console.log(approvalRow.actionItemList[i].item.name);
                        // itemMessage += "<input type='text' class='form-control' readonly placeholder='" + approvalRow.actionItemList[i].item.name +
                        //         "' /><br />";
                        itemMessage += "<li>" + approvalRow.actionItemList[i].item.name + "</li><br />";
                    }
                    itemMessage += "</ol>";


                    */
                });
            }
        </script>
    </div>

</body>
</html>