<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Request Item</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div id="item-request-div">
        <table id="item-request-table">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <script type="text/javascript">

    </script>
</div>
</body>
</html>