<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8" />
    <title>Request Status</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3>Item Request / Return Status</h3>
    <button class="btn btn-success" onclick="refreshStatus();"><i class="fas fa-sync-alt"></i> Refresh</button>
    <br />
    <table id="request-status-table" class="table table-hover">
        <thead class="thead-light">
            <th>Action Id</th>
            <th>Action Time</th>
            <th>Approval Time</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Actions</th>
        </thead>
    </table>
    <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootbox.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" th:src="@{/plugin/MomentJs/moment.min.js}"></script>
    <script type="text/javascript">
        var statusTable;
        $(document).ready(function(){
            statusTable = $('#request-status-table').DataTable({
               ajax: '/user/item/actions',
               columns: [
                   {"data": "actionId"},
                   {
                       "data": "requestTime",
                       render: function (data, type, row){
                           // https://stackoverflow.com/questions/41514750/how-to-format-date-displayed-in-datatable
                           if (data != null) {
                               if (type === "sort" || type === "type") return data;
                               return moment(data).format("DD-MM-YYYY HH:mm");
                           }
                       }
                   },
                   {
                       "data": "approvedTime",
                       render: function (data, type, row){

                               if (type === "sort" || type === "type") return data;
                               if (data == null) return "<p class='text-danger'>Not Approved</p>";
                               return moment(data).format("DD-MM-YYYY HH:mm");

                       }
                   },
                   {
                       // https://datatables.net/forums/discussion/50876/badges-and-tooltips-integration-with-bootstrap4
                       // https://datatables.net/forums/discussion/50928/bootstrap-4-badges-inside-a-table
                       "data": "actionType",
                       render: function(data, type, row){
                           if (data != null) {
                               if (data == 'PendingApproval' || data == 'ReturnApproval') return "<span class='badge badge-info'>" + data + "</span>";
                               else if (data == 'PendingInventory' || data == 'ReturnInventory') return "<span class='badge badge-warning'>" + data + "</span>";
                               else if (data == 'HandedOver') return "<span class='badge badge-secondary'>" + data + "</span>";
                               else if (data == 'RequestDone' || data == 'ReturnDone') return "<span class='badge badge-success'>" + data + "</span>";
                               else if (data == 'RejectApproval' || data == 'RejectInventory') return "<span class='badge badge-danger'>" + data + "</span>";
                               else if (data == 'CancelRequest') return "<span class='badge badge-dark'>" + data + "</span>";
                               else return "<span class='badge badge-light'>" + data + "</span>";
                           }
                       }
                   },
                   {
                       "data": "actionRemarks",
                       "orderable": false,
                       render: function (data, type, row){
                           // https://datatables.net/blog/2016-02-26
                           if (data != null)
                            return data.length > 10 ? data.substr(0, 10) + '...' : data;
                       }

                   },
                   {"data": "actionId", "orderable": false,
                       render: function(data, type, row){
                        if (data != null) {
                            return "<button class='btn btn-outline-primary request-list-button'><i class='fas fa-list-ol'></i> Item Status</button>" +
                                " <button class='btn btn-outline-danger request-cancel-button'><i class='far fa-times-circle'></i> Cancel</button>";
                        }
                       }
                   },
               ],
                // columnDefs: [
                //     {
                //         targets: -1,
                //         data: null,
                //         defaultContent:
                //             "<button class='btn btn-outline-primary request-list-button'><i class='fas fa-list-ol'></i> Item Status</button>" +
                //             " <button class='btn btn-outline-danger request-cancel-button'><i class='far fa-times-circle'></i> Cancel</button>"
                //     }
                // ]
            });

            requestButton();
        });

        function requestButton(){
            $('#request-status-table tbody').on('click', '.request-list-button', function (e) {
                itemRow = statusTable.row($(this).parents('tr')).data();
                console.log(itemRow);

                $.ajax({
                    type: "GET",
                    url: "/user/item/actions/" + itemRow.actionId,
                    success: function(data){
                        if (data.status == "Not Found"){
                            toastr.error(data.data, data.status, {
                                closeButton: true,
                                progressBar: true
                            });
                        }
                        else {
                            var itemMessage = "<ol>";
                            $.each(data.data, function(key,value) {
                                itemMessage += "<li>" + value.item.name.toString() + "\t";
                                if (value.itemStatus == "Sent"){itemMessage += " <span class='badge badge-primary'>" + value.itemStatus + "</span></li>"}
                                else if (value.itemStatus == "Pending"){itemMessage += " <span class='badge badge-warning'>" + value.itemStatus + "</span></li>"}
                                else if (value.itemStatus == "Rejected"){itemMessage += " <span class='badge badge-danger'>" + value.itemStatus + "</span></li>"}
                                else if (value.itemStatus == "Received"){itemMessage += " <span class='badge badge-success'>" + value.itemStatus + "</span></li>"}
                                else if (value.itemStatus == "Cancelled"){itemMessage += " <span class='badge badge-dark'>" + value.itemStatus + "</span></li>"}
                                else {itemMessage += " <span class='badge badge-light'>" + value.itemStatus + "</span></li>"}
                            });
                            itemMessage += "</ol>";

                            bootbox.dialog({
                                title: "<i class='fas fa-list-ol'></i> Item Status",
                                message: itemMessage,
                                buttons: {
                                    ok: {
                                        label: "Close",
                                        className: "btn-secondary",
                                        callback: function () {

                                        }
                                    }
                                }
                            });
                        }
                    }
                });
            });

            $('#request-status-table tbody').on('click', '.request-cancel-button', function (e) {
                itemRow = statusTable.row($(this).parents('tr')).data();
                actionId = itemRow.actionId;

                console.log(itemRow);
                if (itemRow.actionType == "PendingApproval" || itemRow.actionType == "PendingInventory" || itemRow.actionType == "ReturnApproval") {
                    bootbox.dialog({
                        title: "<i class=\"fas fa-times-circle\"></i> Cancel Request",
                        message: "Are you sure you want to cancel this request? ",
                        buttons: {
                            success: {
                                label: "No",
                                className: "btn-secondary",
                                callback: function () {
                                    $('.bootbox').modal('hide');
                                }
                            },
                            danger: {
                                label: "Yes",
                                className: "btn-danger",
                                callback: function () {
                                    console.log("cancel has been clicked" + actionId);
                                    $.ajax({
                                        type: "POST",
                                        url: "/user/item/actions/" + actionId + "/cancel",
                                        success: function (data) {
                                            console.log(data);
                                            toastr.warning(data.data, data.status, {
                                                closeButton: true,
                                                progressBar: true
                                            });
                                            $('#request-status-table').DataTable().ajax.reload();
                                        },
                                        error: function(jqXHR, textStatus, errorThrown){
                                            errorJSON = jQuery.parseJSON(jqXHR.responseText);
                                            toastr.error(errorJSON.message, "Error", {
                                                closeButton: true,
                                                progressBar: true
                                            });
                                        }
                                    });

                                }
                            }
                        }
                    });
                }
                else {
                    toastr.error("Not allowed to cancel request!", "Error", {
                        closeButton: true,
                        progressBar: true
                    });
                }
            });

        }

        function refreshStatus(){
            $.ajax({
                type: "GET",
                url: "/user/item/refresh",
                success: function(data){
                    toastr.success(data.data, data.status, {
                        closeButton: true,
                        progressBar: true
                    });
                    $('#request-status-table').DataTable().ajax.reload();
                }
            })
        }
    </script>
</div>

</body>
</html>