<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Request Item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/dataTables.min.css}" />
    <!--<link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/plugin/DataTables/Select-1.2.6/css/select.bootstrap4.min.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/plugin/Datatables-checkboxes-1.2.11/css/dataTables.checkboxes.css}" />-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/r-2.2.2/sl-1.2.6/datatables.min.css"/>-->
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div id="item-request-div">
        <table id="item-request-table">
            <thead>
            <tr>
                <th>Item Id</th>
                <th>Item Image</th>
                <th>Item Name</th>
                <th>Selection</th>
            </tr>
            </thead>
        </table>

        <form id="item-request-form">
            <div class="form-group">
                <label>Selected Items</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <script type="text/javascript" th:src="@{/plugin/DataTables/dataTables.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/plugin/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/plugin/DataTables/Select-1.2.6/js/dataTables.select.min.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/plugin/Datatables-checkboxes-1.2.11/js/dataTables.checkboxes.min.js}"></script>-->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/r-2.2.2/sl-1.2.6/datatables.min.js"></script>-->
    <script type="text/javascript">
        var requestTable;
        $(document).ready(function(){
           alert("hello");

           requestTable = $('#item-request-table').DataTable({
               processing: true,
               ajax: '/user/item/assets',
               columns: [
                   {"data": "id"},
                   {"render": function(data, type, row, meta){
                       if (row.imagePath != null){
                           return "<img width='40' height='40' src='/uploads/item/" + row.imagePath + "' />";
                       }
                       else {
                           return "<p>Image not available</p>";
                       }
                       }},
                   {"data": "name"},
                   {"data": null, "orderable": false}
               ],
               columnDefs: [
                   {
                       targets: -1,
                       data: null,
                       defaultContent: "<button class='btn btn-warning item-request-select'>Select</button> <button class='btn btn-danger item-request-cancel'>Cancel</button>"
                   }
               ]
           });

           buttonRequest();
        });

        function buttonRequest(){
            $('#item-request-table tbody').on('click','.item-request-select', function(e){
                // e.preventDefault();
                requestRow = requestTable.row($(this).parents('tr')).data();
                console.log(requestRow);
                itemRequestId = requestRow.id;
            });

            $('#item-request-table tbody').on('click','.item-request-cancel', function(e){
                // e.preventDefault();
                cancelRow = requestTable.row($(this).parents('tr')).data();
                console.log(cancelRow);
            });
        }
    </script>
</div>
</body>
</html>