<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <p>
                <!--&copy; Memorynotfound.com-->
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span>
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <!--Birthday: <span sec:authentication="principal.birthday"></span> |-->
                    <!--Birthday: <span th:text="${userDetails.birthday}"></span> |-->
                    <!--Email <span th:text="${#authentication.getPrincipal().getEmail()}"></span>-->
                    <!--Birthday: <span th:text="${#authentication.getPrincipal().getBirthday()}"></span> |-->
                    <form th:action="@{/logout}" method="post">
                         <input type="submit" value="Sign Out" />
                    </form>

                </span>
            </p>
        </div>
    </footer>

</th:block>
</body>
</html>