<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
    <th:block th:fragment="header">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img th:src="@{/img/logo.jpg}" width="30" height="30" class="d-inline-block align-top"/>
                HelloInven
            </a>
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
                <!--<span class="navbar-toggler-icon"></span>-->
            <!--</button>-->
            <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
                <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/employeelist">Employee List</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('CLERK')">
                    <li class="nav-item" >
                        <a class="nav-link" href="/clerk/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clerk/category">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clerk/item">Item</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('EMPLOYEE')">
                    <li class="nav-item" >
                        <a class="nav-link" href="/user/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/request">Request Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Status</a>
                    </li>
                </ul>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span sec:authentication="name"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            <!--</div>-->
        </nav>
    </th:block>
</body>
</html>