<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
>
<head>
    <title>User</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Hello, the page is for Users! Sudah memakai layout</h1>
    <a style="color: blue" th:href="@{/}">Home</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>
</div>
</body>
</html>