<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User Profile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    Name: <span th:text="${user.name}"></span>
    Email: <span th:text="${user.email}"></span>
    Birthday: <span th:text="${user.birthday}"></span>
    Username: <span th:text="${user.username}"></span>

    <!--https://github.com/thymeleaf/thymeleaf/issues/89-->
    Image: <img th:src="@{/img/employee/{id}.jpg(id=${user.id})}" alt="profile picture"/>
    ImageTrue: <img th:src="@{/img/employee/{photo}(photo=${user.photo})}" alt="profile picture"/>
    ImageFolder: <img th:src="@{src/main/uploads/employee/{photo}(photo=${user.photo})}" alt="picture relative path"/>
    ImageURL: <img th:src="${user.photo}" alt="user profile picture" />

    <!--https://stackoverflow.com/questions/40025807/using-variable-inside-src-image-with-thymleaf-template-->
    <!--Image: <img src="@{'/img/employee/' + ${user.id} + '.png'}" />-->

</div>
</body>
</html>