<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome to HelloInv!</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/styleLogReg.css}" />
</head>
<!--
<body class="container" style="margin:50px">
<div class="row col-sm-6"
     style="border: 1px ridge #003312; padding:20px; float: none; margin: 0 auto;">
    <h5 class="text-center" style="font-size: 25px">Sign In</h5>
    <div th:if="${param.error}">
        <p style="color: red">Username or Password is wrong. Please
            check again!</p>

    </div>
    <div th:if="${param.logout}">
        <h1 style="color: blue">Logged out</h1>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">User Name: </label>
            <input type="text" class="form-control" id="username" placeholder="Enter UserName" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
-->

<!--<body>-->
<body id="pageContainer">
    <!--<img th:src="@{/img/back.jpg}" id="imgContainer"/>-->
    <!--<img th:src="@{/img/logo.jpg}" alt="memorynotfound logo" width="20" height="20"/>-->
    <div id="formContainer">
        <div id="logo"></div>
        <div id="forms">
            <form id="login" th:action="@{/login}" method="post">
                <div class="formHead">
                    <h1>WELCOME</h1>
                    <p>Please enter your username and password</p>
                    <div th:if="${param.error}">
                        <h3 style="color: orangered">Username or Password is wrong. Please
                            check again!</h3>

                    </div>
                    <div th:if="${param.logout}">
                        <h3 style="color: lightskyblue">Logged out</h3>
                    </div>
                </div>
                <div class="formDiv">
                    <input type="text" placeholder="Username" name="username" required/>
                </div>
                <div class="formDiv">
                    <input type="password" placeholder="Password" name="password" required/>
                </div>
                <div class="formDiv">
                    <input type="submit" value="LOGIN"/>
                </div>
            </form>
        </div>
    </div>
</body>

    <script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/login/scriptLogReg.js}"></script>
</body>
</html>